* {
    box-sizing: border-box;
}

.hide {
    display: none!important;
}

.body-tag {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    /*font-family: 'Bangers', cursive;*/
    text-transform: uppercase;
    font-weight: bold;
}

.word-container {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0 0 15%;
    font-size: 150px;
    cursor: pointer;
}

.word-container:hover {
    background-color: #fff;
    color: #000;
}

.word-number {
    margin-right: 30px;
}

.language-container {
    position: fixed;
    padding: 10px 10px 10px 6px;
    border-radius: 5px;
    cursor: pointer;
    bottom: 30px;
    right: 60px;
}

.language-container:hover {
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.page-description {
    position: fixed;
    left: -999px;
    z-index: -5;
}

.language {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    color: #000;
}

.language:hover {
    background-color: #333;
    color: #fff;
}

.language-select {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -170px;
    right: 0;
    background-color: #fff;
    border-radius: 6px 6px 0 6px;
    overflow: hidden;
}

.selected-language {
    display: flex;
    align-items: center;
}

.main-language-header {
    margin: 0;
    position: fixed;
    right: 50px;
    bottom: 76px;
    background-color: #000;
}

.language-name {
    margin: 0 0 0 6px;
}

.language-flag {
    background-image: url('../images/flags.png');
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.language-flag.english {
    background-position: center -2917px;
}

.language-flag.spanish {
    background-position: center -2661px;
}

.language-flag.italian {
    background-position: center -3845px;
}

.language-flag.portuguese {
    background-position: center -5989px;
}

.language-flag.french {
    background-position: center -2853px;
}

.language-flag.all {
    background-position: center -5px;
}

.responsive-table {
    overflow-x: auto;
}

.word-table {
    border-collapse: collapse;
    font-size: 20px;
}

.even-row {
    background-color: #fff;
    color: #000;
}

.table-header,
.word-cell {
    padding: 5px 10px;
    text-align: center;
}

.word-cell-link {
    color: inherit;
    text-decoration: none;
}

.word-cell-link:hover {
    text-decoration: underline;
}

@media (max-width:1024px) {
    .word-container {
        padding: 8px 0 0 8%;
        font-size: 80px;
    }

    .main-language-header {
        right: 10px;
    }

    .language-container {
        right: 24px;
    }
}